<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            display: flex;
            align-items: stretch;
            flex-direction: column;
            font-family: '微软雅黑';
        }
    </style>
</head>
<body>
    <div id="code" style="margin-top: 450px;text-align: center;font-size: 90px;">ISHEJD</div>
</body>
<script>

</script>
</html>